/* Estilos generales */
.layout-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #4a90e2, #5fbcff);
  color: white;
}

/* Contenido principal */
.layout-content {
    flex-grow: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-flex {
  display: flex;
}